@import "./scss/colours.scss";
@import "./scss/header.scss";
@import "./scss/posts.scss";

* {
  position: relative;
  box-sizing: border-box;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-wrapper {
  display: flex;
}
