@import "../node_modules/fontisto/css/fontisto/fontisto.min.css";
@import "./scss/colours.scss";
@import "./scss/header.scss";
@import "./scss/posts.scss";
@import "./scss/main-wrapper.scss";
@import "./scss/tiny-slider.scss";

* {
  position: relative;
  box-sizing: border-box;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  transition: 0.1s linear all, color 0s;
}

[hidden] {
  display: none !important;
}

body {
  @media (max-width: 769px) {
    font-size: 1rem;
    background: $light-blue;
  }

  width: 100%;
  max-width: 100vw;
  font-size: 1.2rem;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
