.header {
  .theme-btn {
  }

  .heading {
    display: flex;
    align-items: center;

    .news {
      color: $dark-blue;
      margin-right: 1rem;
    }

    .line {
      height: 2px;
      width: 100%;
      background: $light-blue;
    }
  }
}
