.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .main {
    @media (max-width: 769px) {
      & {
        width: 100%;
        padding-bottom: 3rem;
      }
    }

    &.dark {
      background: $blue;
    }

    width: 66.666%;
    padding: 1rem 2rem;
  }

  .sidebar {
    @media (max-width: 769px) {
      & {
        width: 100%;
      }
    }

    width: 33.333%;
    min-height: 100vh;
    height: 100%;

    background: $light-blue;
    &.dark {
      background: $mid-blue;
    }

    padding: 2.5%;
    @media (max-width: 1024px) {
      & {
        padding: 1%;
      }
    }
    overflow-y: scroll;
  }
}

.icon-margin {
  margin-right: 5px;
}
