.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0;
}

.post {
  @media (max-width: 1024px) {
    width: auto;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  &:hover {
    background: rgba($color: $dark-blue, $alpha: 0.1);
  }

  &:nth-child(odd) {
    margin-right: 1rem;
  }

  &:nth-child(even) {
    margin-left: 1rem;
  }

  &.simple {
    width: 100%;
    margin: 0;

    @media (max-width: 769px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  width: calc(50% - 2rem);
  padding: 1rem;
  // padding-bottom: 0.5rem;
  cursor: pointer;

  .img {
    color: $dark-blue;
    overflow: hidden;
    height: 225px;

    .likes {
      position: absolute;
      right: 3%;
      bottom: 5%;
      display: flex;
      .icon {
        margin-right: 5px;
      }
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .body {
    padding: 1.5rem 0;
    padding-bottom: 0;

    &.dark .header,
    &.dark .description,
    &.dark .footer {
      color: $white;

      & i {
        color: $dark-blue;
      }
    }

    .header {
      color: $dark-blue;
      margin-bottom: 1rem;
    }

    .description {
      color: $dark-blue;
      margin-bottom: 1.5rem;
    }

    .footer {
      display: flex;
      color: $dark-blue;
      justify-content: space-between;
    }
  }
}
