.posts.dark .post,
.sidebar.dark .post {
  &.simple {
    @media (max-width: 767px) {
      background: $dark-blue;
    }

    color: $white;

    .footer i {
      color: $white;
    }
  }

  .header,
  .description,
  .footer {
    color: $white;

    & i {
      color: $dark-blue;
    }
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0;

  @media (max-width: 767px) {
    &:not(.mobile) {
      display: none;
    }
  }

  @media (min-width: 767px) {
    &.mobile {
      display: none;
    }
  }
}

.post {
  @media (max-width: 1024px) {
    width: auto;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0;
    padding-right: 0;
  }

  &:hover {
    background: rgba($color: $dark-blue, $alpha: 0.1);
  }

  &:nth-child(odd) {
    margin-right: 1rem;
  }

  &:nth-child(even) {
    margin-left: 1rem;
  }

  &.simple {
    width: 100%;
    margin: 0;
    padding: 1rem;

    @media (max-width: 767px) {
      background: $white;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      margin: 1rem;

      .body {
        margin-right: 2rem;

        .description {
          margin-bottom: 1rem;
        }
      }

      .img {
        min-width: 60px;
        height: 60px;
      }
    }
  }

  width: calc(50% - 2rem);
  padding: 1rem;
  // padding-bottom: 0.5rem;
  cursor: pointer;

  .img {
    color: $dark-blue;
    overflow: hidden;
    height: 225px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .likes {
      width: 60px;
      background: rgba($color: $white, $alpha: 0.5);
      position: absolute;
      right: 3%;
      bottom: 5%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.5rem 0.25rem;
      border-radius: 10px;

      &.delete {
        left: 3%;
      }

      &:hover {
        background: rgba($color: $dark-blue, $alpha: 0.5);
      }

      &.liked {
        .icon {
          color: red;
        }
      }

      &.like {
        margin-right: 5px;
      }
    }
  }

  .body {
    padding: 1.5rem 0;
    padding-bottom: 0;

    &.dark .header,
    &.dark .description,
    &.dark .footer {
      color: $white;

      & i {
        color: $dark-blue;
      }
    }

    .header {
      color: $dark-blue;
      margin-bottom: 1rem;
    }

    .description {
      color: $dark-blue;
      margin-bottom: 1.5rem;
    }

    .footer {
      display: flex;
      color: $dark-blue;
      justify-content: space-between;
      svg {
        margin-right: 5px;
      }
    }
  }
}
